h2.text-2xl.font-bold.mb-4.text-center Sign Up

.signup-container
  = turbo_frame_tag "signup_form" do
    = render "form", user: @user, form_url: users_path, form_method: :post, button_text: "Sign Up"
